.register-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .register-form {
    width: 23rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 0.75rem;
    box-shadow: var(--box-shadow-light);
  
    &__title {
      text-align: center;
      color: var(--black);
      font-size: 1.75rem;
    }
  
    &__input-container {
      display: flex;
      flex-direction: column;
    }
  
    &__input {
      all: unset;
      background-color: var(--gray-100);
      padding: 0.75rem;
      font-size: 1.125rem;
      border-radius: 0.5rem;
      margin: 0.5rem 0;
    }
  
    &__label {
      font-size: 0.75rem;
    }
  
    &__submit {
      all: unset;
      width: 100%;
      background-color: var(--primary);
      cursor: pointer;
      text-align: center;
      color: var(--white);
      padding: 0.75rem 0;
      font-size: 1.125rem;
      border-radius: 0.5rem;
      // margin: 0.75rem 0;
      margin-bottom: 1rem;
      margin-top: 2rem;
  
      &:disabled {
        background-color: #f6416c;
      }
    }
  
    &__signup-link {
      width: 100%;
      display: block;
      text-decoration: none;
      color: var(--black);
      border-radius: 0.5rem;
      padding: 0.75rem 0;
      text-align: center;
      border: 1px solid var(--gray-300);
    }
  
    .text-error{
      font-size: 0.875rem;
      color: var(--primary);
      margin-bottom: 0.25rem;
    }
  }
  