.comments {
  width: 100%;

  h5 {
    color: var(--black);
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  &__input {
    width: 100%;
    all: unset;
    background-color: var(--gray-100);
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;

    &::placeholder {
      font-size: 0.875rem;
    }

    @media screen and (max-width: 768px) {
      flex-basis: 90%;
    }
  }

  &__submit {
    all: unset;
    margin-left: 0.5rem;
    align-self: flex-end;
    background-color: var(--primary);
    cursor: pointer;
    text-align: center;
    color: var(--white);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    &:disabled {
      background-color: #f6416c;
    }
  }

  &__new-comment {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__user {
    display: flex;
    align-items: center;
    margin: 0.875rem 0;
  }

  &__user-name {
    text-decoration: none;
    font-size: 0.75rem;
    color: var(--gray-300);
    margin-bottom: 0.125rem;
  }

  &__comment-text {
    margin: 0;
    font-size: 1rem;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    margin-left: 0.25rem;
    text-decoration: none;
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    background-color: var(--gray-300);
    color: var(--white);
  }
}
